/* 본문 */
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #222;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 1723px;
}

.page1-container {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

.p1box1 {
    padding-left: 225px;
}

.p1box2 {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-right: 225px;
}

.p-box {
    opacity: 0;
    /* transition: all 1s;  */
}

.category {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

.p1title {
    margin-top: 50px;
    font-weight: 800;
    font-size: 50px;
    line-height:3.5rem;
}

.p1intro {
    display: block;
    margin-top: 18px;
    font-size: 18px;
}



/*사진 슬라이드*/

.slideshow-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 600px;
    height: auto;
    /* margin-top: -180px;
    margin-left: -200px; */
}

.prev,
.next {
    position: absolute;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    display: none;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    display: block;
}

.image {
    display: none;
}

/*사진 슬라이드 종료*/



/* button CSS */
.button-48 {
    margin-top: 50px;
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #222;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    width: 180px;
    height: 60px;
    position: relative;
    border: 1px solid #222;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #222;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path 1.5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:hover{
    transition: all 0.7s;
    color: white;
}

.button-48:after {
}

.button-48 span {
    z-index: 1;
    position: relative;
}